/* --------------------------------------------------

JONAS ZAMORA
Author:  Jonas Zamora
Copyright: All rights reserved 2013

---------------------------------------------------- */



@import	url("reset.css");
/*---------------------------------------------------*/
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	height:100%;
}

html, body {
	margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background: #ffdce6;
	color: #2b2b2d;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

a, a:visited, a:link {
	color: #2b2b2d;
	text-decoration: none;
}


p {
	margin-bottom: 16px;
}

img {
	position: relative;
	z-index: 0;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.container {
	left: 5%;
	width: 90%;
	position: absolute;
}

header {
	top: 4%;
}

header address {
	font-style: normal;
	display: none;
	z-index: 99999;
	position: relative;
}

#fbLike {
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
}

.opl {
	position: absolute;
	top: 20px;
	right: 5px;
	display: none;
}

.opl a {
	width:73px;
	height:56px;
	text-indent:-9999px;
	display:block;
	background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-right.png') no-repeat;
}

.csslight {
	position: absolute;
	top: 75px;
	right: 5px;
	display: none;s
}

.headerLink {
	margin-left: 30px;
}

#appleInfo {
	display: none;
	/*
	display: none;
	color: #ffdce6;
	z-index: 9999;
	position: relative;
	float: left;
	clear: both;
	background: #2b2b2d;
	padding: 10px;
	*/
}

.frame {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 7%;
}

.frameInner {
	width: 100%;
}

.frameText {
	display: none;
}


/* FRAME 1 */
#frame1Inner img#frame1TitleImg {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	right: 0px;
	left: -120%;
	top: -120%;
}

#frame1Inner img#frame1TitleImg.current {
	left: 0px;
	top: 0px;
}

#frame1Inner img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -120%;
}

#frame1Inner #frame1IphoneShadow {
	top: 0;
	display: none;
}

#frame1Inner img.current {
	top: 0px;
}

#frame1Text {
	width: 18%;
	display: none;
	position: absolute;
	z-index: 9999;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#frame1Text p, #frame1Text a {
	position: relative;
}

#frame1Text a {
	clear: both;
	float: left;
	max-width: 100%;
	margin-top: 5px;
}

#frame1Text a img {
	position: relative;
	left: 0px;
	right:auto;
	top: 0px;
	margin: 0;
}

/* FRAME 2 */
#frame2Inner .frameTitle {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	right: 0px;
}

#frame2Inner .frameTitle.current {
	left: 0px;
	top: 0px;
}

#frame2Inner img#frame2TitleImg1 {
	left: -120%;
	top: 120%;
}

#frame2Inner img#frame2TitleImg2 {
	left: 120%;
	top: -120%;
}

#frame2Inner img#frame2TitleImg1 {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	right: 0px;
	left: -120%;
	top: 120%;
}

#frame2IphoneDevice {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: -120%;
	right: 0px;
	top: -120%;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
}

#frame2IphoneDevice.current {
	top: 0%;
	left: 0%;
}

#frame2IphoneDevice.up {
	top: 10%;
	left: 10%;
}

#frame2IphoneDevice.down {
	top: -10%;
	left: -10%;
}

#frame2IphoneDevice.go {
	top: 120% !important;
	left: 120% !important;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
}


#frame2Text, #frame2Link {
	width: 22%;
	display: none;
	position: absolute;
	z-index: 9999;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#frame2Link {
	width: 10%;
}

#frame2Text p, #frame2Link a {
	position: relative;
}

#frame2Link a {
	clear: both;
	float: left;
	max-width: 100%;
	margin-top: 10px;
}

#frame2Link a img {
	position: relative;
	left: 0px;
	right:auto;
	top: 0px;
	margin: 0;
	max-width: 100%;
}


/* FRAME 3 */
#frame3Inner .frameTitle {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	right: 0px;
}

#frame3Inner .frameTitle.current {
	left: 0px;
	top: 0px;
}

#frame3Inner img#frame3TitleImg1 {
	left: -120%;
	top: 120%;
}

#frame3Inner img#frame3TitleImg2 {
	left: 120%;
	top: -120%;
}

#frame3Inner img#frame3TitleImg2.current, #frame3Inner img#frame3TitleImg1.current {
	mask: url(../images/iphone3_mask.png);
    -webkit-mask: url(../images/iphone3_mask.png) top left / cover;
    -o-mask: url(../images/iphone3_mask.png) top left / cover;
    -ms-mask: url(../images/iphone3_mask.png) top left / cover;
}

#frame3Inner img#frame3TitleImg1 {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	right: 0px;
	left: -120%;
	top: 120%;
}

#frame3Inner img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -120%;
}

#frame3Text {
	width: 22%;
	display: none;
	position: absolute;
	z-index: 9999;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#frame3Text p, #frame3Text a {
	position: relative;
}

#frame3Text a {
	clear: both;
	float: left;
	max-width: 100%;
}

#frame3Text a img {
	position: relative;
	left: 0px;
	right:auto;
	top: 0px;
	margin: 0;
	max-width: 100%;
}

#frame3Inner #frame3IphoneShadow {
	top: 0;
	display: none;
}

#lefa {
	background: white;
	position: fixed;
	width: 100%;
	height: 70%;
	top: 100%;
	left: 0px;
	z-index: -1;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}

#lefa.up {
	top: 40%;
	transition: all 4.4s ease-out;
	-webkit-transition: all 4.4s ease-out;
	-moz-transition: all 4.4s ease-out;
	-o-transition: all 4.4s ease-out;
}

#frame3IphoneDeviceScreen.current {
	z-index: -2;
}

/* NAVIGATION */
#cicle {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99999;
	display: none;
}

#cicle a {
	width: 6%;
	display: block;
	position: absolute;
}

#circle a span {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
}

#cicle a span.horizontal {
	width: 100%;
	height: 1px;
	background: #2b2b2d;
	display: block;
	top: 50%;
	position: absolute;
}

#cicle a span.vertical {
	width: 1px;
	height: 100%;
	background: #2b2b2d;
	display: block;
	left: 50%;
	top: 0px;
	position: absolute;
}

#cicle a.minus {
	float: left;
	left: 5%;
}

#cicle a.more {
	float: right;
	right: 5%;
}

#cicle a img {
	width: 100%;
	display: block;
}

#cicle a:hover span {
	background: #eea18d !important;
}

footer {
	position: absolute;
	right: 0;
	bottom: 4%;
}

footer p {
	width: 100%;
	text-align: right;
	margin-bottom: 0;
}

@media only screen and (max-width: 1366px) {
	body {
		font-size: 14px;
		line-height: 18px;
	}

	#frame1Text {
		width: 22%;
	}
}

@media only screen and (max-width: 960px) {
	body {
		font-size: 13px;
		line-height: 17px;
	}

	#frame1Text {
		width: 24%;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
		line-height: 15px;
	}
	#frame1Text {
		width: 30%;
	}
}

@media only screen and (max-width: 550px) {
	body {
		font-size: 12px;
		line-height: 15px;
	}

	#wrapper {
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	#contactLink {
		float: left;
	}

	header address {
		color: #ffdce6;
		z-index: 9999;
		position: relative;
		float: left;
		clear: both;
		background: #2b2b2d;
		padding: 10px;
	}

	header address a, header address a:link, header address a:visited {
		color: #ffdce6;
	}

	.frame {
		width: 60%;
		height: auto;
		position: absolute;
		top: 10%;
		left: 20%;
	}

	.frameInner {
		padding: 40px 0px;
	}

	#frame1Inner img#frame1TitleImg, #frame2Inner img#frame2TitleImg1,#frame3Inner img#frame3TitleImg1 {
		position: relative;
		left: -200%;
	}

	#frame2Inner img#frame2TitleImg2, #frame3Inner img#frame3TitleImg2 {
		left: 200%;
	}

	#frame1Text, #frame2Text, #frame2Link, #frame3Text {
		top: 0px !important;
		left: 0px !important;
		width: 100%;
		display: none;
		position: relative;
		text-align: center;
		margin-top: 10px;
		transform: rotate(0deg);
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari and Chrome */
	}

	#frame1Inner img, #frame2Inner img, #frame3Inner img {
		right: 8px;
		left: auto;
	}

	#frame1Text a, #frame2Link a, #frame3Text a {
		text-align: center;
		float: none;
	}

	#frame1Text a img, #frame2Link a img, #frame3Text a img {
		left: auto;
		display: inline-block;
	}

	#frame2TitleImg1.current, #frame3TitleImg1.current {
		top: -40px !important;
	}

	#frame3Inner img#frame3TitleImg2.current, #frame3Inner img#frame3TitleImg1.current {
		left: -10px !important;
	}

	#frame3Inner img#frame3TitleImg2.current {
		top: 0px !important;
	}

	.opl, .csslight {
		display: none;
	}
}

@media only screen and (max-width: 320px) {
	#fbLike {
		float: left;
		position: absolute;
		top: auto;
		right: auto;
		left: auto;
		top: 30px;
	}
}
